@model string
@{
    string currentUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
    string enc = System.Net.WebUtility.UrlEncode(currentUrl);
    string text = System.Net.WebUtility.UrlEncode(Model);
}

<ul class="share-buttons">
    <li>
        <a href="https://twitter.com/intent/tweet?source=@enc&text=@text" class="twitter" title="Tweet" target="_blank" rel="noreferrer noopener">
            Tweet it on Twitter
        </a>
    </li>
    <li>
        <a href="http://pinterest.com/pin/create/button/?url=@enc&description=@text" class="pinterest" title="Pin it" target="_blank" rel="noreferrer noopener">
            Pin it on Pinterest
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=@enc" class="facebook" title="Share on Facebook" target="_blank" rel="noreferrer noopener">
            Share on Facebook
        </a>
    </li>
</ul>