@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

@section styles {
    <link rel="stylesheet" href="/css/login.scss" />
}

<form method="post" id="login" role="form" aria-labelledby="legend">
    <fieldset>
        <legend id="legend">Sign in</legend>

        <input type="text" name="username" id="username" aria-label="Username" autofocus required placeholder="Username" />
        <input type="password" name="password" id="password" aria-label="Password" required placeholder="Password" />

        <input type="submit" value="Sign in" />
    </fieldset>
</form>