@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

@section styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

<form method="post" id="login" role="form" aria-labelledby="legend">
    <fieldset>
        <legend id="legend">Sign in</legend>

        <label for="username" aria-hidden="true">User name</label>
        <input type="text" name="username" id="username" autofocus required placeholder="Username" />

        <label for="password" aria-hidden="true">Password</label>
        <input type="password" name="password" id="password" required placeholder="password" />

        <input type="submit" value="Sign in" />
    </fieldset>
</form>