<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/84fb5466-a195-413d-8728-9e4264138629/resourcegroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/GalleryTemplate</ResourceId>
    <ResourceGroup>Default-Web-NorthCentralUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gallerytemplate.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ProjectGuid>50c84d33-a7c5-4dbe-9b21-b927f9fdba06</ProjectGuid>
    <MSDeployServiceURL>gallerytemplate.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GalleryTemplate</DeployIisAppPath>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$GalleryTemplate</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <RemoteSitePhysicalPath />
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
  </PropertyGroup>
</Project>