#admin {
    margin: 40px 0 20px 0;
    padding: 10px;
    background: lightgray;
    border-radius: 5px;
    position: relative;
}

    #admin:before {
        content: "Edit";
        font-weight: bold;
        display: block;
        position: absolute;
        top: -19px;
        background: lightgray;
        padding: 0 10px;
        border-radius: 3px;
    }

    #admin input {
        padding: 3px 7px;
        font: inherit;
        border: 1px solid gray;
    }

        #admin input[type=text],
        #admin input[type=file] {
            width: 220px;
        }

        #admin input[type=file] {
            background: lightgray;
            border: none;
        }

        #admin input[type=submit] {
            background-color: dodgerblue;
            color: white;
            cursor: pointer;
        }

        #admin input[disabled] {
            background-color: #999;
            color: #f1f1f1;
            cursor: progress;
        }

    #admin .delete input {
        position: absolute;
        right: 10px;
        top: 10px;
        background: transparent;
        color: crimson;
        font-size: 1.3em;
        font-weight: bold;
        border: 0;
        padding: 0;
    }
