html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 auto 70px auto;
    padding: 0;
    background-color: whitesmoke;
    font: 16px/1.4 sans-serif;
}

header {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    background: #555;
}

    header h1 {
        margin: 0;
        font-weight: normal;
        line-height: 60px;
    }

        header h1 a {
            color: white;
        }

.container {
    max-width: 960px;
    margin: auto;
    padding: 0 15px;
}


a {
    outline: 0;
    color: dodgerblue;
    text-decoration: none;
}

#title {
    line-height: 38px;
}

    #title h2 {
        display: inline;
    }

    #title span {
        position: relative;
        top: -1px;
        left: 5px;
    }

    #title > a {
        float: right;
    }

.photolist {
    margin: 0 -2px -2px 0;
    column-gap: 3px;
    column-width: 190px;
}

    .photolist figure {
        margin-bottom: 3px;
        background: rgba(0, 0, 0, 0.02);
        background-clip: content-box;
        width: 100%;
    }

        .photolist figure:hover figcaption {
            opacity: 1;
        }

.albumlist {
    display: flex;
    flex-flow: row wrap;
    margin: -4px;
}

    .albumlist > a {
        box-sizing: border-box;
        flex-basis: 15%;
        flex-grow: 1;
        min-width: 160px;
        margin: 4px;
    }

    .albumlist figure img {
        height: 160px;
    }

figure {
    position: relative;
    margin: 0;
    padding: 0;
}

    figure figcaption {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.49);
        color: white;
        font-size: 12px;
        line-height: 25px;
        text-indent: 4px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    figure img {
        display: block;
        width: 100%;
        opacity: 1;
        transition: opacity 0.3s;
    }

        figure img[data-src] {
            opacity: 0;
        }

    figure[title]:after {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-top: -10px;
        background: rgba(0, 0, 0, 0.49);
        color: white;
        font-size: 12px;
        line-height: 25px;
        text-indent: 4px;
        content: attr(title) " (" attr(data-count) ")";
    }

    figure[title]:hover:after {
        text-decoration: underline;
    }

[aria-hidden=true] {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    color: #777;
    text-align: center;
}

    footer a {
        float: right;
        font-size: .9em;
    }

        footer a:before {
            content: "🔒 ";
            filter: grayscale(100%);
            opacity: .8;
        }

@media (max-width: 429px) {
    figure img {
        height: auto;
    }
}
