$header-bgcolor: #555;
$header-color: whitesmoke;
$link-color: #1270c4;
$footer-height: 30px;

html {
    position: relative;
    min-height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    margin: 0 auto $footer-height + 40px auto;
    padding: 0;
    color: #555;
    background-color: whitesmoke;
    font: 16px/1.4 "trebuchet ms", palatino, tahoma, sans-serif;
}

.container {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    margin: 0 0 20px 0;
    padding: 0;
    background-color: $header-bgcolor;

    h1 {
        margin: 0;
        font-weight: normal;
        line-height: 60px;
    }

    h1 a {
        color: $header-color;
    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover figcaption,
    &:focus figcaption {
        background: $link-color;
    }
}

#title {
    line-height: 2em;

    h2 {
        margin: 0;
        max-width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > section {
        float: right;
    }


    > section > :nth-child(2):before {
        content: " |";
        color: black;
        margin-right: 5px;
        text-decoration: none;
    }
}

figure {
    position: relative;
    margin: 0;
    background: rgba(0, 0, 0, 0.02);

    figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.60);
        color: white;
        font-size: .8em;
        line-height: 25px;
        text-indent: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        display: block;
        width: 100%;
        border: none; /* for IE10 */
    }
}

.albumlist {
    display: flex;
    flex-flow: row wrap;
    margin: -4px;

    > a {
        flex-basis: 15%;
        flex-grow: 1;
        min-width: 196px;
        margin: 4px;
    }

    img {
        height: 175px;
    }

    figcaption {
        opacity: 1;
    }
}

.photolist {
    margin-right: -2px;
    margin-bottom: 20px;
    -ms-column-gap: 3px;
    -moz-column-gap: 3px;
    -webkit-column-gap: 3px;
    column-gap: 3px;
    -ms-column-width: 190px;
    -moz-column-width: 190px;
    -webkit-column-width: 190px;
    column-width: 190px;

    figure {
        margin-bottom: 3px;
    }
}

.photo {
    figcaption {
        display: none;
    }

    img {
        margin-bottom: 8px;
    }
}

.download {
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    text-align: center;

    a {
        float: right;
        font-size: .9em;

        &:before {
            content: "🔒 ";
            filter: grayscale(100%);
            opacity: .8;
        }
    }
}

@media (max-width: 960px) {
    .photo img {
        height: auto;
    }
}

@media (max-width: 429px) {
    figure img {
        height: auto;
    }

    .albumlist figure img {
        height: auto;
    }
}
