html {
    position: relative;
    min-height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    margin: 0 auto 70px auto;
    padding: 0;
    color: #555;
    background-color: whitesmoke;
    font: 16px/1.4 "trebuchet ms", palatino, tahoma, sans-serif;
}

.container {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    margin: 0 0 20px 0;
    padding: 0;
    background-color: #555;
}

    header h1 {
        margin: 0;
        font-weight: normal;
        line-height: 60px;
    }

        header h1 a {
            color: white;
        }

a {
    color: #1270c4;
    text-decoration: none;
}

#title {
    line-height: 2em;
}

    #title h2 {
        margin: 0;
        max-width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #title > section {
        float: right;
    }

        #title > section > :nth-child(2):before {
            content: " |";
            color: black;
            margin-right: 5px;
            text-decoration: none;
        }

figure {
    position: relative;
    margin: 0;
    background: rgba(0, 0, 0, 0.02);
}

    figure figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.60);
        color: white;
        font-size: .8em;
        line-height: 25px;
        text-indent: 4px;
        opacity: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        -moz-transition: opacity 200ms ease-in-out;
        -o-transition: opacity 200ms ease-in-out;
        -webkit-transition: opacity 200ms ease-in-out;
        transition: opacity 200ms ease-in-out;
    }

    figure img {
        display: block;
        width: 100%;
        border: none; /* for IE10 */
        -moz-transition: opacity 500ms ease-in-out;
        -o-transition: opacity 500ms ease-in-out;
        -webkit-transition: opacity 500ms ease-in-out;
        transition: opacity 500ms ease-in-out;
        will-change: opacity;
    }

    /*This will fade the images into view as they are lazy loaded */
    figure .lazy {
        opacity: 0;
    }

    figure .lazyloaded {
        opacity: 1;
    }

.albumlist {
    display: flex;
    flex-flow: row wrap;
    margin: -4px;
}

    .albumlist > a {
        flex-basis: 15%;
        flex-grow: 1;
        min-width: 196px;
        margin: 4px;
    }

    .albumlist img {
        height: 175px;
        will-change: auto;
    }

    .albumlist figcaption {
        opacity: 1;
    }

.photolist {
    margin-right: -2px;
    margin-bottom: 20px;
    -ms-column-gap: 3px;
    -moz-column-gap: 3px;
    -webkit-column-gap: 3px;
    column-gap: 3px;
    -ms-column-width: 190px;
    -moz-column-width: 190px;
    -webkit-column-width: 190px;
    column-width: 190px;
}

    .photolist figure {
        margin-bottom: 3px;
    }

    .photolist a:hover figure figcaption,
    .photolist a:focus figure figcaption {
        opacity: 1;
    }

.photo img {
    margin-bottom: 8px;
}

.download {
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    text-align: center;
}

    footer a {
        float: right;
        font-size: .9em;
    }

        footer a:before {
            content: "🔒 ";
            filter: grayscale(100%);
            opacity: .8;
        }

@media (max-width: 960px) {
    .photo img {
        height: auto;
    }
}

@media (max-width: 429px) {
    figure img {
        height: auto;
    }

    .albumlist figure img {
        height: auto;
    }
}
